VITE_FIREBASE_API_KEY=AIzaSyAQDsgooCIqe-WDsQ62j0em1tzPJrG1Gyo
VITE_FIREBASE_AUTH_DOMAIN=papaprofit-7aa7e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=papaprofit-7aa7e
VITE_FIREBASE_STORAGE_BUCKET=papaprofit-7aa7e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=244230503942
VITE_FIREBASE_APP_ID=1:244230503942:web:bbcb6d7292ec25c51c4d87

GEMINI_API_KEY=AIzaSyDGBHEI5U8EywOKmHuwFge7cnsLx_3hbhw