rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ===============================================================
    // Helper Functions
    // ===============================================================
    function isAuthenticated() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }
    
    function isAdmin() {
      return isAuthenticated() &&
        (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.profile.role == 'admin' ||
          (request.auth.token.email == "harshitvannam@gmail.com" && request.auth.token.email_verified == true));
    }
    
    match /users/{userId} {
      allow read: if isOwner(userId) || isAdmin();
      
      // Allow creation if the user is the owner and doesn't try to set isPremium to true
      allow create: if isOwner(userId) 
        && (!('profile' in request.resource.data) || !('isPremium' in request.resource.data.profile) || request.resource.data.profile.isPremium == false);
      
      // Allow update if the user is the owner and doesn't modify the isPremium field
      allow update: if isOwner(userId) 
        && (!('profile' in request.resource.data) || !('isPremium' in request.resource.data.profile) || 
            request.resource.data.profile.isPremium == resource.data.profile.isPremium)
        || isAdmin();
    }
  }
}
